@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}


/*colors light mode */
body {
    background-color: white;
}

.techUsed {
    color: #42446E;
}

.subtextClr2 {
    color: #666666;
}




.navTxt {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: #123952;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

.navTxt::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #fc2f70;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

.navTxt:hover {
    cursor: pointer;
}

.navTxt:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}





.myName {
    color: #42446E;
}

#myName {
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.skillsSection h2,
.projectsSection h2 {
    color: #123952;
}


.links a {
    color: black;
}


.links a:hover {
    color: #42446E;
}


.phone {
    color: #123952;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.phone::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -0.25em;
    right: -0.25em;
    background-color: #fc2f70;
    transform-origin: bottom center;
    transform: scaleY(0.1);
    transition: all 0.1s ease-in-out;
}

.phone:hover::before {
    transform: scaleY(1.2);
    background-color: hsla(341, 97%, 59%, 0.75);
    -webkit-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -ms-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
}

.email {
    color: #123952;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

.email::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -0.25em;
    right: -0.25em;
    background-color: #fc2f70;
    transform-origin: bottom center;
    transform: scaleY(0.1);
    transition: all 0.1s ease-in-out;
}

.email:hover::before {
    transform: scaleY(1.2);
    background-color: hsla(341, 97%, 59%, 0.75);
    -webkit-transform: scaleY(1.2);
    -moz-transform: scaleY(1.2);
    -ms-transform: scaleY(1.2);
    -o-transform: scaleY(1.2);
}



.copy {
    color: #123952;
    font-weight: bolder;
}

/* / */

/* fonts size */
.titleFontSize {
    font-size: 1.3rem;
}

.myName {
    font-weight: 700;
    font-size: 3rem;
    white-space: wrap;
    width: 355px;
}

/* header */

.navTxt:link,
.navTxt:visited {
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.hamMenu {
    display: none;
}


.social {
    display: flex;
    gap: 0 0.5rem;
    align-self: center;
    width: 20px;
}


.headerContainer {

    margin-top: 3%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

nav {
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    margin-right: 12%;
}

nav ul {
    list-style: none;
    margin-right: 15px;
    display: flex;

}

nav li {
    margin: 0 20px;
}


.profileContainer {
    margin-top: 5rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.myImg {
    width: 15rem;
}




/* main */





.skillsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillsContainer {
    justify-items: center;
    margin-top: 5rem;
    display: grid;
    grid-auto-flow: column dense;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 4em 0;
}



.cardsContainer {

    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: 1fr 1fr;

}

.card {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.3);
    margin-bottom: 10%;
    /* padding-bottom: 3%; */
    height: 35rem;

}

.cardDetails {
    margin-left: 1rem;
    margin-right: 1rem;
}


.projectTitle {
    font-size: 1.5rem;
}

.techUsed {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.projectDetails{
    /* background-color: red; */
    height: 10rem;
}

.links {
    display: flex;
    height: 3rem;
    /* margin-top: 2rem; */
    /* margin-bottom: 2rem; */
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
}

.links div {
    display: flex;
    gap: 0 1rem;
}

/* footer */
.footerSocialContainer {
    margin-right: 12%;
    display: flex;
    justify-content: flex-end;
}

.socialContainer {
    width: 30rem;
    display: flex;
    justify-content: space-evenly;

}

.copy {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}


/* general classes */


main section {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: grid;
    justify-content: center;
    margin-top: 5rem;
}

.wrapTxt {
    width: min-content;
}

/* / */







.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}










/* Responsive */



@media (max-width: 768px) {


    nav {
        margin-right: 3rem;
    }

    li {
        display: none;
    }

    .hamMenu {
        display: block;
    }

    .social {
        display: none;



    }

    .navTxt {
        width: 7rem;
        background-color: #fff;
        color: #123952;
    }


    .myName {

        font-size: 2rem;
        width: 248px;
    }

    .myImg {
        width: 10rem;

    }

    .titleFontSize h2 {
        font-size: 1.3rem;
    }

    .subtextClr2 {
        font-size: 1.2rem;

    }

    .socialContainer {
        align-items: center;
        width: fit-content;
        display: flex;
        flex-direction: column;
    }

    .footerSocialContainer {

        margin-left: 4.3rem;
        display: flex;
        align-self: center;
    }


    footer {
        display: flex;
        justify-items: center;
        flex-direction: column;
    }

    .phone {
        margin-bottom: 0.5rem;
    }






    /* //////////////////////// */

    /* hamMenu */


    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        margin-right: -2rem;
        /* left: 0; */
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
    }

    #menu-toggle:checked~.menu li {
        height: 2.5em;
        padding: 0.5em;
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        background-color: #fff;
    }





    /* //////////////// */


}








@media (max-width: 425px) {

    .cardsContainer {
        display: block;
        margin-left: 2.5rem;
    }

    nav {
        margin-right: 0rem;
    }

    .myImg {
        margin-right: 0.5rem;
    }

    .myName {
        text-align: center;
        font-weight: 700;
        font-size: 1.5rem;
    }

    body {
        margin-right: -3rem;

    }

    .menu {
        margin-right: 1rem;

    }
}








@media (max-width: 320px) {

    .cardsContainer {
        display: block;
        margin-left: -1rem;
    }

    nav {
        margin-right: 0rem;
    }

    .myImg {
        margin-right: 0.5rem;
    }

    .myName {
        text-align: center;
        font-weight: 700;
        font-size: 1.5rem;
    }

    body {
        margin-right: -3rem;
    }

    .skillsContainer {
        margin-left: 1rem;
    }

    .menu {
        width: 112%;
        margin-right: 0rem;

    }

}

@media (max-width: 375px) and (min-width:374px) {
    .cardsContainer {
        margin-left: 1rem;
    }
}


.modeBTN {

    margin-right: 55rem;

}



.modeBTN {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: #123952;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    border: 1px solid #123952;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

.modeBTN::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #fc2f70;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

.modeBTN:hover {
    cursor: pointer;
    color: white;
}

.modeBTN:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}


.modeBTN:link,
.modeBTN:visited {
    padding: 4px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}